<div class="container">
  <h1 class="title">Stupid Nuzha</h1>
  <form action="/answer">
    <label>Ask Nuzha anything:</label>
    <div class="input">
      <input type="text" id="searche"name="question">
      <input type="submit" value="Ask!">
    </div>
  </form>
</div>  